<!DOCTYPE html>
<html>

  <body>
      <center>
    <div class="container">
            <div class="center">
  
                <txt class="center" style="background-color:powderblue;">I am trying to guess your face emotion but smile ^^</txt>

                <img src="{{ url_for('four_Emos') }}" width="100%">
                
                <form action= "/two_Emos" method="post">
                    <input type="submit" name="submit_button" value="Are you smiling">
                </form>

            </div>
        
            <div>

            </div>
    </div>
        </center>
      
      
    </body>


</html>