<!DOCTYPE html>
<html>
  <body>
      <center>
    <div class="container">
            <div class="center">
  
                <h1 class="center" style="background-color:powderblue;">I am trying to guess you are smiling or not so smile ^^</h1>
                <img src="{{ url_for('two_Emos') }}" width="100%">
                
                <form action= '/four_Emos' method="post">
                    <input type="submit" name="submit_button" value="Check your emotion">
                </form>
            </div>
        
    </div>
        </center>
      
      
    </body>


</html>